*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

a {
    color: inherit;
}

h2,
h3,
p {
    margin: 0;
}


section {
    text-align: center;
    padding: 40px 0;
}