.box {
    background: url(../../img/IMAGE.jpg) center/cover no-repeat;
    color: white;
    padding: 16px;
    text-align: center;
}

.header {
    padding: 33px 0;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {}

.nav {
    display: none;
}

.nav__list {
    display: flex;
    gap: 40px;
}

.list-reset {}

.nav__item {}

.nav__link {
    text-decoration: none;
}

.header__button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 185%;
    letter-spacing: 0.01em;
    color: #1c2436;
    border: 1px solid #000;
    padding: 10px 25px;
}


@media (min-width:576px) {
    .nav {
        display: block;

    }
}