.overview {}

.container {}

.overview__title {}

.title {}

.overview__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

.overview__img-box {}

.overview__img {}